<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363121053378-sb7pol3122v7ra3qn3meh96g08qa8mn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363121053378-sb7pol3122v7ra3qn3meh96g08qa8mn8</string>
	<key>API_KEY</key>
	<string>AIzaSyAEcXoybl0Ox2tilLn-4HYPJ6c8qPjbFkk</string>
	<key>GCM_SENDER_ID</key>
	<string>363121053378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ticketing.ticketingsystem</string>
	<key>PROJECT_ID</key>
	<string>bus-ticketing-system-37cd5</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-ticketing-system-37cd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363121053378:ios:c77bd265ef656347ebf55b</string>
</dict>
</plist>